.profile__button-avatar {
    border: none;
    position: relative;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
    width: 120px;
    height: 120px;
  }
  
  .profile__button-avatar:hover {
    background-image: url("../../../images/pencel.svg");
    background-color: rgba(0,0,0);
    background-position: center;
    background-repeat: no-repeat;
    background-size:  26px 26px;
    opacity: 0,8;
    border-radius: 50%;
    content: "";
    
    width: 120px;
    height: 120px;
    transition: 1s opacity;
  }
  
