.popup__input-error {
  color: #FF0000;
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.52px;
  width: 358px;
  display: block;
  min-height: 25px;
  margin: 0;
  margin-top: 5px;
  padding: 0;  
}

@media screen and (max-width: 880px) {
  .popup__input-error {
      max-width: 238px;
      }
}

.popup__input-error:hover {
  color: rgba(0, 0, 0, 1);
  opacity: .2;
}